<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782402972829-rpm520du2f488g9si7d0ls5u0u38bl5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782402972829-rpm520du2f488g9si7d0ls5u0u38bl5j</string>
	<key>API_KEY</key>
	<string>AIzaSyAePYU-Oj5je_nXj3PbPtsKl0MDoGe32Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>782402972829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dilshodbek.UBER</string>
	<key>PROJECT_ID</key>
	<string>uberapp-cff46</string>
	<key>STORAGE_BUCKET</key>
	<string>uberapp-cff46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782402972829:ios:393c6229eb437354e5b874</string>
</dict>
</plist>